
  form{
    width: 50%;
  }
  .loginpage{
    padding: 20px;
    background-color: #2b465b;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .heading {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .heading p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #a09595;
  }
  
  .heading span {
    font-size: 16px;
    font-weight: 500;
    color: #a09595;
  }
  
 
  
  .loginpage .detail-box {
    padding: 30px 15px;
}
  .loginpage .detail .email{
    display: grid;
  }
  
  .loginpage .detail .email {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
  }
  
  .loginpage .detail .password-box{
    margin-top: 20px;
  }
  
  .loginpage .detail .password-box .password{
    display: flex;
  }
  
  
  .loginpage .detail .password-box p{
    padding: 0;
    margin: 0;
  }
  
  .loginpage .detail .password-box  span {
    color: #a09595;
  }
  
  .loginpage .detail .term {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    gap: 10px;
  }
  
  .loginpage .detail .term p {
    margin: 0;
    color: #fff;
  }
  .loginpage .detail .term input[type=checkbox] {
    accent-color: #00d0c0 ;
  }
  .loginpage .detail .login-content {
    text-align: center;
  }
  
  .loginpage .detail .login-content .login{
    padding: 6px 50px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #00d0c0;
    margin-bottom: 10px;
  }
  
  .loginpage .detail .login-content .logd {
    border: none;
    color:#00d0c0 ;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  
  .loginpage .detail .login-content p {
    color: #fff;
    margin: 0;
  }

  .err{
    color: red;
  }
  
  
  