
form{
    width: 100%;
  }
  .Ragisterpage{
    padding: 20px;
    background-color: #2b465b;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .heading {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .heading p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #a09595;
  }
  
  .heading span {
    font-size: 16px;
    font-weight: 500;
    color: #a09595;
  }
  
 
  
  .Ragisterpage .detail-box {
    padding: 30px 15px;
}
  .Ragisterpage .detail .box{
    display: grid;
  }
  
  .Ragisterpage .detail .lable {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 6px;
  }
  
  .Ragisterpage .detail .box input{
    border-bottom: 2px solid #a09595;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #a09595;
    background-color: transparent;
  }
  
  .Ragisterpage .detail .email input:focus{
    border-bottom: 2px solid #a09595;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #a09595;
  }
/*   
  .Ragisterpage .detail .password-box{
    margin-top: 10px;
  } */
  
  .Ragisterpage .detail .password-box .password{
    display: flex;
    border-bottom: 2px solid #a09595;
  }
  
  .Ragisterpage .detail .password-box input{
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #a09595;
    background-color: transparent;
    padding: 0;
  }
  
  .Ragisterpage .detail .password-box .eyes{
    padding: 0;
    margin: 0;
  }
  
  .Ragisterpage .detail .password-box  span {
    color: #a09595;
  }
  
  .Ragisterpage .detail .term {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    gap: 10px;
  }
  
  .Ragisterpage .detail .term p {
    margin: 0;
    color: #fff;
  }
  .Ragisterpage .detail .term input[type=checkbox] {
    accent-color: #00d0c0 ;
  }
  .Ragisterpage .detail .login-content {
    text-align: center;
  }
  
  .Ragisterpage .detail .login-content .login{
    padding: 6px 50px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #00d0c0;
    margin-bottom: 10px;
  }
  
  .Ragisterpage .detail .login-content .logd {
    border: none;
    color:#00d0c0 ;
    background-color: transparent;
  }
  
  .Ragisterpage .detail .login-content p {
    color: #fff;
    margin: 0;
  }

  .err{
    color: red;
    margin: 0;
  }
  
  
  